name: Test local workflow

on:
    pull_request:
      branches: [ "main" ]
jobs:
  authenticate:
    permissions:
      contents: 'read'
      id-token: 'write'
    uses: ./.github/workflows/gcloud-auth.yml
    with: 
      service_account: 'github-actions-service-account@great-dane-0324.iam.gserviceaccount.com'
