name: Test AR push workflow

on:
    pull_request:
      branches: [ "main" ]

env:
  PROJECT_ID: 'cpet-cicd'
  AR_REPO_LOCATION: 'us-central1'
  AR_REPO: 'us-central1-docker.pkg.dev/cpet-cicd/github-action-tutorial/sample-app'
  WIF_SERVICE_ACCOUNT: 'github-action-service-account@cpet-cicd.iam.gserviceaccount.com'
  WIF_PROVIDER: 'projects/219680525622/locations/global/workloadIdentityPools/sample-github/providers/github-actions-on-gcp'
jobs:
  deploy:
    # Add 'id-token' with the intended permissions for workload identity federation
    permissions:
      contents: 'read'
      id-token: 'write'

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v2'
        with:
          token_format: 'access_token'
          project_id: ${{ env.PROJECT_ID }}
          service_account: "github-action-service-account@cpet-cicd.iam.gserviceaccount.com"
          workload_identity_provider: ${{ env.WIF_PROVIDER }}

      # Authenticate Docker to Google Cloud Artifact Registry
      - name: Docker Auth
        id: docker-auth
        uses: 'docker/login-action@v1'
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
          registry: '${{ env.AR_REPO_LOCATION }}-docker.pkg.dev'

      - name: Build and Push Container
        run: |-
          docker build -t "${{ env.AR_REPO }}:${{ github.sha }}" ./
          docker push "${{ env.AR_REPO }}:${{ github.sha }}"

    