name: Test local workflow

on:
    pull_request:
      branches: [ "main" ]
env:
  PROJECT_ID: 'great-dane-0324' # Project ID where the Artifact Registry Repository is
  AR_REPO_LOCATION: 'us-central1' # The region where the Artifact Registry Repository is located
  AR_REPO: 'us-central1-docker.pkg.dev/great-dane-0324/my-ar-repo' 
  SERVICE_ACCOUNT: 'github-actions-service-account@great-dane-0324.iam.gserviceaccount.com'
jobs:      
  push_to_ar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Google Auth
        id: auth
        uses: ./.github/workflows/gcloud-auth.yml
        with:
          service_account: ${{ env.SERVICE_ACCOUNT }}

      - name: Docker Auth
        id: docker-auth
        uses: docker/login-action@v1
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
          registry: '${{ env.AR_REPO_LOCATION }}-docker.pkg.dev'